---
pagination:
  data: collections.tagsList
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slugify }}/"
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="0; url=/archive/by-topic/{{ tag | slugify }}/">
<script>window.location.replace('/archive/by-topic/{{ tag | slugify }}/' + window.location.search);</script>
</head>
<body>
<p>Redirecting to <a href="/archive/by-topic/{{ tag | slugify }}/">{{ tag }}</a>…</p>
</body>
</html>
